In [2]:
import pandas as pd

def read_objdump(f):
    # skip first 7 lines
    for i in range(7):
        f.readline()

    for line in f:
        inst = line.strip().split('\t')
        addr, data, op, arg, *comments = inst + [''] * (6 - len(inst)) # pad with blank
        comment = ''.join(comments)

        yield int(addr[:-1], 16), int(data, 16), op, arg, comment


with open('./notes/objdump.txt') as f:
    df = pd.DataFrame(read_objdump(f), columns=['addr', 'data', 'op', 'arg', 'comment'])
    df

In [3]:
bad_insts = df['comment'].str.contains('UNDEFINED') | df['comment'].str.contains('UNPREDICTABLE')
df = df.loc[~bad_insts]
df

           addr        data      op                  arg       comment
0             0       18976   andeq  r4, r0, r0, lsr #20
1             4  2151615012  eorshi  r0, pc, r4, lsr #20
2             8     2162720   eoreq  r0, r1, r0, lsr #32
3            12  2151615010  eorshi  r0, pc, r2, lsr #20
4            16  2218788864  strbhi     r0, [r0], #-2048  ; 0xfffff800
...         ...         ...     ...                  ...           ...
507927  2031708           0   andeq           r0, r0, r0
507928  2031712           0   andeq           r0, r0, r0
507929  2031716           0   andeq           r0, r0, r0
507930  2031720  3925868544       b             0x1f0070
507931  2031724   460277338    blne            0x1dc19dc

[364612 rows x 5 columns]

In [4]:
df['op'].value_counts()

andeq         27853
strtmi         4765
streq          4705
beq            4690
andcs          4626
              ...
shsub16mi         1
pushls            1
vceq.i8           1
vrintm.f16        1
rsfpldm           1
Name: op, Length: 2930, dtype: int64

In [ ]:
import matplotlib.pyplot as plt